/* .carousel{
    padding: 81px 0;
    &__inner{
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next{
        border: none;
        background-color: white;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: -66px;
        img{
            height: 50px;
            width: 31px;
        }
    }

    .slick-next{
        right: -66px;
        left: auto;
    }
} */
.carousel{
    padding: 81px 0;
    &__inner{
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .prev, .next{
        border: none;
        background-color: white;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: -66px;
        img{
            height: 50px;
            width: 31px;
        }
    }

    .next{
        right: -66px;
        left: auto;
    }
    .tns-item{
        img{
            display:block;
            margin: 0 auto;
        }
    }
    .tns-nav{
       width: 50px;
       .tns-nav-active{
           background-color:gray;
       }
    }

} 